<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <button type="button" class="btn btn-outline-secondary" (click)="displayCurrentWeek()" [disabled]="todayCol != -1">跳转到本周</button>
      <button type="button" class="btn btn-outline-secondary ms-4" (click)="displayPreviousWeek()"><i class="fa fa-angle-left px-1" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-outline-secondary ms-2" (click)="displayNextWeek()"><i class="fa fa-angle-right px-1" aria-hidden="true"></i></button>
      <span class="lead ms-2">{{weekRangeLabel}}</span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th style="width:5%;" scope="col" ></th>
            <th style="width:13%;" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" scope="col" *ngFor="let day of week; let i = index">
              <p class="lead mb-0" style="font-size: 2rem;">{{day.getDate()}}</p>
              <p class="mb-0 fw-light">{{weekLabel[i]}}</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="height:150px">
            <th class="fw-light" scope="row">早餐</th>
            <th class="pointer" scope="col" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index" (click)="editMeal(day, 'breakfast')">
              <div class="card bg-transparent" *ngIf="getMeals(day, 'breakfast')">
                <div class="card-body">
                  <h5 class="card-title mb-0 fw-light" *ngFor="let m of getMeals(day, 'breakfast')">{{m}}</h5>
                </div>
              </div>
            </th>
          </tr>
          <tr style="height:150px">
            <th class="fw-light" scope="row">午餐</th>
            <th class="pointer" scope="col" style="" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index" (click)="editMeal(day, 'lunch')">
              <!-- <div class="row"><div class="col"> -->
                <div class="card bg-transparent" *ngIf="getMeals(day, 'lunch')" style="">
                  <div class="card-body">
                    <h5 class="card-title mb-0 fw-light" *ngFor="let m of getMeals(day, 'lunch')">{{m}}</h5>
                  </div>
                </div>
              <!-- </div></div> -->
              <!-- <div class="a" style="height:100%">
                <p> 123 </p>
              </div> -->
            </th>
          </tr>
          <tr style="height:150px">
            <th class="fw-light" scope="row">晚餐</th>
            <th class="pointer" scope="col" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index" (click)="editMeal(day, 'dinner')">
              <div class="card bg-transparent" *ngIf="getMeals(day, 'dinner')">
                <div class="card-body">
                  <h5 class="card-title mb-0 fw-light" *ngFor="let m of getMeals(day, 'dinner')">{{m}}</h5>
                </div>
              </div>
            </th>
          </tr>
          <tr style="height:150px">
            <th class="fw-light" scope="row">加餐</th>
            <th class="pointer" scope="col" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index" (click)="editMeal(day, 'snack')">
              <div class="card bg-transparent" *ngIf="getMeals(day, 'snack')">
                <div class="card-body">
                  <h5 class="card-title mb-0 fw-light" *ngFor="let m of getMeals(day, 'snack')">{{m}}</h5>
                </div>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="mealModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ mealLabel }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <nav class="navbar navbar-light bg-transparent">
          <div class="container-fluid">
            <ul class="navbar-nav nav-inline">
              <li class="nav-item" *ngFor="let c of mealsService.categories">
                <a class="nav-link pointer ms-3" [class.active]="mealCategory.name == c.name" (click)="selectMealCategory(c)">{{ c.label }}</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link pointer ms-3">Planner2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer ms-3">Planner2</a>
              </li> -->
              <!-- <button class="btn btn-outline-success" type="submit" (click)="selectMealCategory(456)">Search</button>
              <a class="nav-link pointer ms-3" (click)="selectMealCategory(c)" *ngFor="let c of mealsService.categories">123</a> -->
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="搜索" aria-label="Search">
              <!-- <button class="btn btn-outline-success" type="submit" (click)="selectMealCategory(123)">Search</button> -->
            </form>
          </div>
        </nav>
        <div class="row">
          <div class="col">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th class="fw-light" style="width:15%;" scope="row">荤菜</th>
                  <th style="width:85%;" scope="col" style="display: flex; flex-wrap: wrap;">
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">花生闷猪蹄</span></h5>
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">红烧肉</span></h5>
                  </th>
                </tr>
                <tr>
                  <th class="fw-light" class=" fw-light" scope="row">素菜</th>
                  <th class="fw-light" scope="col" style="display: flex; flex-wrap: wrap;">
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">炒青菜</span></h5>
                  </th>
                </tr>
                <tr>
                  <th class="fw-light" scope="row">粥类</th>
                  <th class="fw-light" scope="col">
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">小米粥</span></h5>
                  </th>
                </tr>
                <tr>
                  <th class="fw-light" scope="row">主食</th>
                  <th class="fw-light" scope="col">
                    <h5><span class="badge bg-secondary pointer me-2 fw-light">白饭</span></h5>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>