.pointer {
  cursor: pointer;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.nav-inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  list-style: none;
  padding: 0;
  white-space: nowrap;
}