<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <button type="button" class="btn btn-outline-secondary" (click)="displayCurrentWeek()" [disabled]="todayCol != -1">跳转到本周</button>
      <button type="button" class="btn btn-outline-secondary ms-4" (click)="displayPreviousWeek()"><i class="fa fa-angle-left px-1" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-outline-secondary ms-2" (click)="displayNextWeek()"><i class="fa fa-angle-right px-1" aria-hidden="true"></i></button>
      <span class="lead ms-2">{{weekRangeLabel}}</span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th style="width:5%;" scope="col" ></th>
            <th style="width:13%;" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" scope="col" *ngFor="let day of week; let i = index">
              <p class="lead mb-0" style="font-size: 2rem;">{{day.getDate()}}</p>
              <p class="mb-0" style="font-weight: 300;">{{weekLabel[i]}}</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="height:150px">
            <th scope="row">早餐</th>
            <th scope="col" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index">
              <div class="card bg-transparent">
                <div class="card-body">
                  <h5 class="card-title mb-0">馒头</h5>
                  <h5 class="card-title mb-0">馒头</h5>
                  <h5 class="card-title mb-0">包子</h5>
                  <h5 class="card-title mb-0">小米粥</h5>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text </p> -->
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </th>
          </tr>
          <tr style="height:150px">
            <th scope="row">午餐</th>
            <th scope="col" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index"></th>
          </tr>
          <tr style="height:150px">
            <th scope="row">晚餐</th>
            <th scope="col" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index"></th>
          </tr>
          <tr style="height:150px">
            <th scope="row">加餐</th>
            <th scope="col" [style.background-color]="i == todayCol ? '#e3f2fd' : ''" *ngFor="let day of week; let i = index"></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>