<div class="container">
  <!-- <nav class="navbar navbar-light bg-transparent">
    <div class="container-fluid">
      <ul class="navbar-nav nav-inline">
        <li class="nav-item" *ngFor="let d of dishesService.dishes">
          <a class="nav-link pointer ms-3" [class.active]="dishType['id'] == d['id']" (click)="selectDishType(d)">{{ d['name'] }}</a>
        </li>
      </ul>
      <form class="d-flex">
        <input name="keyword" class="form-control me-2" type="search" placeholder="搜索" aria-label="Search" [(ngModel)]="dishKeyword" (keyup)="searchDishes()">
      </form>
    </div>
  </nav> -->
  <div class="row mt-3">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="editDishes()" [disabled]="editing">添加/修改/删除</button>
      <button type="button" class="btn btn-success ms-2" (click)="saveDishes()" *ngIf="editing">保存</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="cancelEditingDishes()" *ngIf="editing">取消</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-bordered">
        <tbody *ngIf="!editing">
          <tr *ngFor="let c of dishes['categories']; let i = index;">
            <th style="width:10%;" class="fw-light" class="fw-light" scope="row"> {{ c['name'] }}</th>
            <th style="width:90%;" class="fw-light" scope="col" style="display: flex; flex-wrap: wrap;">
              <h4 *ngFor="let d of c['dishes']">
                <span class="badge bg-light text-dark fw-light me-2">{{ d }}</span>
              </h4>
            </th>
          </tr>
        </tbody>
        <tbody *ngIf="editing">
          <tr *ngFor="let c of dishesEdited['categories']; let i = index;">
            <th style="width:10%;" class="fw-light" class="fw-light" scope="row"> {{ c['name'] }}</th>
            <th style="width:90%;" class="fw-light" scope="col" style="display: flex; flex-wrap: wrap;">
              <div class="row w-100">
                <div class="col-lg-2 col-md-6 my-1" *ngFor="let d of c['dishes']; let i = index; trackBy: trackByFn">
                  <div class="input-group me-2">
                    <input type="text" class="form-control" [(ngModel)]="c['dishes'][i]">
                    <button class="btn btn-outline-danger" type="button" (click)="deleteDish(c, i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 my-1">
                  <div class="input-group me-2">
                    <input type="text" class="form-control" id="new-dish-{{i}}" (keydown.enter)="addDish(c, i)">
                    <button class="btn btn-outline-success" type="button" (click)="addDish(c, i)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>